<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <siru_mobile translate="label" module="siru_mobile">
                    <label>Siru Mobile</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                 `   <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <live_environment translate="label">
                            <label>Use live environment	</label>
                            <frontend_type>checkbox</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>1</sort_order>
                        </live_environment>
                        <merchant_id translate="label">
                            <label>MerchantId</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>2</sort_order>
                        </merchant_id>
                        <merchant_secret translate="label">
                            <label>Merchant secret</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>3</sort_order>
                        </merchant_secret>
                        <purchase_country>
                            <label>Purchase country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>siru_mobile/PurchaseCountry</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>4</sort_order>
                        </purchase_country>
                        <submerchant_reference>
                            <label>Submerchant reference</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>5</sort_order>
                        </submerchant_reference>
                        <tax_class>
                            <label>Tax class</label>
                            <frontend_type>select</frontend_type>
                            <source_model>siru_mobile/TaxClass</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>6</sort_order>
                        </tax_class>
                        <service_group>
                            <label>Service Group</label>
                            <frontend_type>select</frontend_type>
                            <source_model>siru_mobile/ServiceGroup</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>7</sort_order>
                        </service_group>
                        <instant_payment>
                            <label>Instant payment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>siru_mobile/InstantPayment</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>8</sort_order>
                        </instant_payment>
                        <maximum_payment>
                            <label>Maximum payment allowed</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>9</sort_order>
                        </maximum_payment>
                    </fields>
                </siru_mobile>
            </groups>
        </payment>
    </sections>
</config>